<launch>

  <!-- Run the map server -->
 <arg name="map_file" default="$(find swarm)/navigation/maps/jackal_race.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
 <include file="$(find swarm)/navigation/launch/include/robot_pose_ekf.launch" />



</launch>