<launch>   

    <node name="goal_tester" pkg="swarm" type="goal_tester">
        <param name="cmd_vel_topic" type="string" value="/mobile_base/commands/velocity" />
        <param name="odom_topic" type="string" value="/odom" />
        <param name="base_link" type="string" value="base_footprint" />
        <param name="odom_link" type="string" value="odom" />
        
    </node>
    <node pkg="tf" type="static_transform_publisher" name="tf_1" args="0 0 0.25 0 0 0 base_footprint camera_link 60"></node>
</launch>